.list {
  display: flex;
  gap: 39px;
  align-items: center;
  justify-content: center;
}

.item {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}

.link {
  line-height: 24px;
  color: white;

  padding: 10px 0;
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.link__current {
  position: relative;
  color: orangered;

  text-decoration: none;
}
